.colorSystem-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.sortingBars-container {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  align-items: flex-end;
  gap: 1px;
}

.bar {
  width: 30px;
  display: inline-block;
  margin: 0 1pt;
  background-color: gainsboro;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.secondBars-container {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  align-items: flex-end;
  gap: 1px;
  margin-top: 5rem;
}
